@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #00081D;
  color: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#sign-in-page {
  background-image: url('./assets/movies.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-color: #000000ad;
}

#landing-page {
  background-image: url('./assets/movies.png');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-color: #070c20c4;
}
